.borderia {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: red;
 
    
}
.borderai {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: greenyellow;
}