body {
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    padding-left: 10px;

}
.wrappers {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}
.wrapper div {
    width: 250px;
    border: black, 1px;
   
}
#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
    border: 1px solid black;

}
#box1, #box2, #box3, #box4, #box5 {
    background-color: aqua;
}
#box6, #box7, #box8, #box9, #box10 {
    background-color: rgb(255, 0, 212);
}
