
a:hover {
    background-color: aqua;
    color:blue;
    
}
a {
   font-size: larger; 
}
B {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: coral;
}
h1 {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
img {
    width: 320px;
    height: 300px;
} 
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
h3 {
    background-color: aqua;
    color:blue;
}
table, th, td {
    border:1px solid black;
}
body {
    background: linear-gradient(45deg, #ff5de4de, rgb(3, 87, 87));
}
 
  

