body {
    background-image: url('uuno-turhapuro-muuttaa-maalle_4.png');
  }
  h1 {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 4, 255));
    text-align: center;
    text-decoration-color: aqua;
    font-family: cursive;
  background-color: lightgrey;
    width: 900px;
    border: 15px solid green;
    padding: 50px;
    margin: 140px;
    align-self: center;
  }
  a {
    background-color: lightgrey;
    width: 100px;
    border: 15px solid green;
    padding: 50px;
    margin: 10px;
   
  }
  a:hover {
    background-color: yellow;
  }
  p {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 45px;
    margin: 10px;
  }
  h2 {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 45px;
    margin: 10px;
    height: 10px;
  }
  